/**** phone_bd里的内容 ***/
#editor_title {
  background: url('../images/page-title.png') no-repeat;
  background-size: 100% 100%;
  padding-top:40px;
  text-align: center;
  height: 30px;
  color:#fff;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
  overflow: hidden;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.text_center {
  text-align: center;
}
.blank {
  height: 15px;
}
.row {
  padding: 0 5%;
}
.input {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
}
.fl {
  float: left;
}
.base_btn {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
}
#editor_body > li {
  cursor: move;
  border: 1.5px solid #fff;
  position: relative;
}
#editor_body .get_code {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
  width: 30%;
  margin-left: 8.5%;
}
#editor_body .phone_number {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
  width: 60%;
}
#editor_body .input_code {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
  width: 100%;
}
#editor_body .get_immediately {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
  width: 90%;
}
#editor_body .img img {
  width: 100%;
}
#editor_body .fullText {
  padding: 8px 10px;
  font-size: 18px;
  color: #cccccc;
}
.tmpl_container {
  display: none;
}
.table {
  background: #ccc;
}
.table td {
  width: 50px;
  height: 50px;
  background: #fff;
}
.phone-editor {
  background: #fff;
  margin-top: 20px;
}
.edit-magicBox {
  margin-top: 20px;
}
#edit-tb td {
  height: 30px;
  line-height: 30px;
}
.list li {
  float: left;
}
.link {
  color: #07d;
  font-size: 12px;
}
/**魔方的css开始**/
#magicTable {
  width: 205px;
  height: 205px;
  position: relative;
  background: #696969;
  -moz-user-select: none;
  -webkit-user-select: none;
  -mz-user-select: none;
}
#magicBox-img {
  width: 100px;
  cursor: pointer;
}
#magicTable .item {
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  border: none;
}
#magicTable .selected {
  background: rgba(29, 113, 239, 0.8);
}
#magicTable .keyactive {
  background: rgba(255, 199, 0, 0.6);
}
.artTable{
  border-collapse:collapse;
  border:1px #ccc solid;

}

.artTable .link{
  padding:0 8px;
  font-size:14px;
}

.artTable th,.artTable td{
  height:30px;
  line-height: 30px;
  border:1px solid #ccc;
  padding:3px 5px;
  text-align: center;
}
/**魔方的css结束**/
.customerBtn_container{
  padding:5px;
  text-align: center;
}
.customerBtn_container button{
  height:35px;
  padding:0 5px;
  text-align: center;
  border:none;
  min-width: 60px;
}

.ui-dialog-grid .img_upload_box{
  width:80px;
}

@font-face {
  font-family:'iconfont';
  src:url('../font/iconfont.eot');
  src:url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}



.iconfont{
   font-family:"iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
} 

.jiahao{
  font-size: 48px;
  color:#ccc;
}
.ui-dialog-grid #pick_image{
  border:1px dashed #ccc;
  height:80px;  
  line-height: 80px;
  text-align: center;
  border-radius:5px;
}

#filelist{
  padding:5px 0 10px 0px;
}
#productList{
  max-height:600px;
  overflow: scroll;
}
#productList li{
  width:150px;
  float: left;
  position: relative;
  margin:0 8px 8px 0;
  padding:5px;
  background: #fff;
  cursor: pointer;
}
#productList li img{
  width:100%;
}
#productList li .selected{
  position: absolute;
  top:5px;
  right:5px;
  display: none;
}
#productList li .selected img{
  width:30px;
}
#productList li.active .selected{
 display: block;
}
.allProducts{
  padding:5px 8px;
  border:1px solid #ccc;
  border-radius:8px;
  background:#fff;
  color:#555;
}
#productList li.active .selected{

}
#productList li .txt{
  font-size:13px;
  padding:5px 0;
  margin:0;
  text-align: center;
  overflow:hidden;
  -wegbkit-text-overflow:ellipsis;
  text-overflow:ellipsis;
  white-space:nowrap; 
  width:100%;
}
#productPager li{
  float: left;
}

#productPager li{
  padding:6px 12px;
  border:1px solid #ccc;
  border-left: none;
  background:#fff;
}
#productPager>li>a{
  line-height: normal !important;
  padding: 0 !important;
}
#productPager li:last-child{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
}
#productPager li:first-child{
  border-left: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}