/**** phone_bd里的内容 ***/
#editor_title {
  background: url('../images/page-title.png') no-repeat;
  background-size: 100% 100%;
  padding-top:40px;
  text-align: center;
  height: 30px;
  color:#fff;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.text_center {
  text-align: center;
}
.blank {
  height: 15px;
}
.row {
  padding: 0 5%;
}
.input {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
}
.fl {
  float: left;
}
.base_btn {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
}
#editor_body > li {
  cursor: move;
  border: 1.5px solid #fff;
  position: relative;
}
#editor_body .get_code {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
  width: 30%;
  margin-left: 8.5%;
}
#editor_body .phone_number {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
  width: 60%;
}
#editor_body .input_code {
  border: 1px solid #cccccc;
  height: 35px;
  background: #fff;
  width: 100%;
}
#editor_body .get_immediately {
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0;
  cursor: default;
  height: 35px;
  line-height: 35px;
  width: 90%;
}
#editor_body .img img {
  width: 100%;
}
#editor_body .fullText {
  padding: 8px 10px;
  font-size: 18px;
  color: #cccccc;
}
.tmpl_container {
  display: none;
}
.table {
  background: #ccc;
}
.table td {
  width: 50px;
  height: 50px;
  background: #fff;
}
.phone-editor {
  background: #fff;
  margin-top: 20px;
}
.edit-magicBox {
  margin-top: 20px;
}
#edit-tb td {
  height: 30px;
  line-height: 30px;
}
.list li {
  float: left;
}
.link {
  color: #07d;
  font-size: 12px;
}
/**魔方的css开始**/
#magicTable {
  width: 205px;
  height: 205px;
  position: relative;
  background: #696969;
  -moz-user-select: none;
  -webkit-user-select: none;
  -mz-user-select: none;
}
#magicBox-img {
  width: 100px;
  cursor: pointer;
}
#magicTable .item {
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  border: none;
}
#magicTable .selected {
  background: rgba(29, 113, 239, 0.8);
}
#magicTable .keyactive {
  background: rgba(255, 199, 0, 0.6);
}
.artTable{
  border-collapse:collapse;
  border:1px #ccc solid;

}

.artTable .link{
  padding:0 8px;
  font-size:14px;
}

.artTable th,.artTable td{
  height:30px;
  line-height: 30px;
  border:1px solid #ccc;
  padding:3px 5px;
  text-align: center;
}
/**魔方的css结束**/
.customerBtn_container{
  padding:5px;
  text-align: center;
}
.customerBtn_container button{
  height:35px;
  padding:0 5px;
  text-align: center;
  border:none;
  min-width: 60px;
}