<div class='img'>
	<ul class='goods_bigSmall'>
		<li>
			<img src='/images/gg1.jpg' />
			<div class="product_info clearfix">
				<span class='price'>88.00</span><span class='cart_log'></span>
			</div>
		</li>
		<li>
			<img src='/images/gg2.jpg' />
			<div class="product_info clearfix">
				<span class='price'>66.00</span><span class='cart_log'></span>
			</div>
		</li>
		<li>
			<img src='/images/gg3.jpg' />
			<div class="product_info clearfix">
				<span class='price'>99.00</span><span class='cart_log'></span>
			</div>
		</li>
	</ul>
</div>