<div class="img">
	<ul class="goods_list">
		<li class="clearfix">
			<div class='good-img'>
				<img src='/images/gg1.jpg' />
			</div>
			<div class='good-text'>
				<p>都市余味碧根果190g</p>
				<p>88.00</p>
				</div>
		</li>
		<li class="clearfix">
			<div class='good-img'>
				<img src='/images/gg2.jpg' />
			</div>
			<div class='good-text'>
				<p>都市余味碧根果100g</p>
				<p>66.00</p>
			</div>
		</li>
		<li class="clearfix">
			<div class='good-img'>
				<img src='/images/gg3.jpg' />
			</div>
			<div class='good-text'>
				<p>都市余坚果100g</p>
				<p>99.00</p>
			</div>
		</li>
		<li class="clearfix">
			<div class='good-img'>
				<img src='/images/gg4.jpg' />
			</div>
			<div class='good-text'>
				<p>都市余味碧根果350g</p>
				<p>120.00</p>
			</div>
		</li>
	</ul>
</div>